h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}
.icon{
    width: 100px;
    height: 100px;
    /* background-color: #f0f0f0; */
    border-radius: 60%;
    margin: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.icon:hover{
    opacity: 0.7;

}
#intro{
    margin-top: 2em;
}
.project{
    margin-top: 2em;
    background-color: rgba(255, 255, 255, 0);
}
.intercept{
    background-color: #f0f0f000;
    margin: 1em;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    border-top: 1px solid #000000;
    padding-top: 1em;
    margin-top: 3em;
}
.thumbnail{
    /* max-width: 150px;
    height: 150px; */
    max-width: 100%;
}
canvas{
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    outline: none;
}
main{
    position: absolute;
    z-index: 1;
    width: 100vw;
    /* height: 100vh; */
    background: transparent;
}